$d_768_1366-flipped: '(min-width: 768px)';
$d_795_1600-flipped: '(min-width: 795px)';
$d_960: '(min-width: 960px)';
$d_1024_1280-flipped: '(min-width: 1024px)';
$ipad-mini-flipped: '(min-width: 1024px)';
$nest-hub: '(min-width: 1024px)';
$tablet-responsive-2: '(min-width: 1024px)';
$d_1080_1920-flipped: '(min-width: 1080px)';
$d_1080_2560-flipped: '(min-width: 1080px)';
$galaxy-tab-s4-flipped: '(min-width: 1138px)';
$surface-pro-7-flipped: '(min-width: 1200px)'; // responsive
$d_1280_1024: '(min-width: 1280px)';
$nexus-10-flipped: '(min-width: 1280px)';
$nest-hub-max: '(min-width: 1280px)';
$d_1366_768: '(min-width: 1366px)';
$d_1440_2560-flipped: '(min-width: 1440px)';
$d_1600_795: '(min-width: 1600px)';
$d_1920_1080: '(min-width: 1920px)';
$d_2560_1080: '(min-width: 2560px)';
$d_2560_1440: '(min-width: 2560px)';



$custom_height_768: '(min-width: 991px) and (min-height: 768px)';