$galaxy-fold: '(max-width: 280px)';
$iphone-4: '(min-width: 320px)';
$nokia-lumia-520: '(min-width: 320px)';
$galaxy-s9plus: '(min-width: 320px)';
$pixel4: '(min-width: 353px)';
$blackberry-z30: '(min-width: 360px)';
$galaxy-s8: '(min-width: 360px)';
$iphone-se: '(min-width: 375px)';
$iphone-x: '(min-width: 375px)';
$lg-optimus-l70: '(min-width: 384px)';
$iphone-12-pro: '(min-width: 390px)';
$pixel-2: '(min-width: 411px)';
$pixel-2-xl: '(min-width: 411px)';
$responsive-mobile: '(min-width: 412px)';
$galaxy-a51_a71: '(min-width: 412px)';
$iphone-4-flipped: '(min-width: 480px)';
$nokia-n9: '(min-width: 480px)';

$custom: '(max-width: 480px) and (min-height: 768px)';