$nokia-lumia-520-flipped: '(min-width: 533px)';
$surface-dou: '(min-width: 540px)';
$responsive-tablet: '(min-width: 600px)';
$blackberry-playbook: '(min-width: 600px)';
$nest-hub-flipped: '(min-width: 600px)';
$blackberry-z30-flipped: '(min-width: 640px)';
$lg-optimus-l70-flipped: '(min-width: 640px)';
$galaxy-fold-flipped: '(width: 653px) and (height: 280px)';
$galaxy-s9plus-flipped: '(min-width: 658px)';
$iphone-se-flipped: '(min-width: 667px)';
$galaxy-tab-s4: '(min-width: 712px)';
$surface-dou-flipped: '(min-width: 720px)';
$responsive-mobile-flipped: '(min-width: 720px)';
$pixel-2-flipped: '(min-width: 731px)';
$nokia-n9-flipped: '(min-width: 736px)';
$galaxy-s8-flipped: '(min-width: 740px)';
$pixel4-flipped: '(min-width: 745px)';
$ipad-mini: '(min-width: 768px)';
$tablet-responsive-2-flipped: '(min-width: 768px)';
$nexus-10: '(min-width: 800px)';
$nest-hub-max-flipped: '(min-width: 800px)';
$iphone-x-flipped: '(min-width: 812px)';
$pixel-2-xl-flipped: '(min-width: 823px)';
$iphone-12-pro-flipped: '(min-width: 844px)';
$responsive-tablet-flipped: '(min-width: 900px)';
$surface-pro-7: '(min-width: 912px)'; // responsive
$galaxy-a51_a71-flipped: '(min-width: 914px)';